#container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border: solid black 1px;
}

/* HEADER STYLES */

#header {
    /* border: 1px aqua solid; */
    justify-self: end;
    height: auto;
}

.top-bar {
    /* border: 1px rgb(24, 59, 59) solid; */
    display: flex;
    margin: 10px;
}

.top-bar li {
    list-style: none;
    margin-left: 40px;
}

.top-bar a {
    text-decoration: none;
}

/* MAIN STYLES */

#main-container {
    /* border: 1px rgb(24, 59, 59) solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

#main-container form {
    /* border: 1px rgb(35, 218, 218) solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logo {
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    height: auto;
    display: block;
}

#input-bar {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px rgb(88, 85, 85);
    border-radius: 10px;
}

#buttons-search {
    margin-top: 10px;
    /* border: 1px rgb(24, 59, 59) solid; */
    display: flex;
    justify-content: space-evenly;
}

#buttons-search button{
    padding: 2px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 7%;
}

/* FOOTER STYLES */

#footer{
    /* border: 1px rgb(24, 59, 59) solid; */
    width: auto;
    height: fit-content;
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
    
}

#footer ul {
    display: flex;
}

.bottom-r-bar {
    right: 0;
}