html a{
    text-decoration: none;
    color: black;
}

#container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* border: solid black 1px; */
}

/* HEADER STYLES */

#header {
    /* border: 1px aqua solid; */
    justify-self: end;
    height: auto;
}

.top-bar {
    /* border: 1px rgb(24, 59, 59) solid; */
    display: flex;
    margin: 10px;
}

.top-bar li {
    list-style: none;
    margin-left: 40px;
}

/* MAIN STYLES */

#main-container {
    /* border: 1px rgb(24, 59, 59) solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

#main-container form {
    /* border: 1px rgb(35, 218, 218) solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

#logo {
    margin: 0 auto;
    width: 250px;
    max-width: 100%;
    height: auto;
    display: block;
}

#input-bar {
    padding: 7px;
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px rgb(133, 128, 128);
    border-radius: 19px;
}

#buttons-search {
    /* border: 1px rgb(24, 59, 59) solid; */
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
    width: 500px;  
     
}

#buttons-search button{
    cursor: pointer; 
    padding: 2px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7%;
}

/* FOOTER STYLES */

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: fit-content;
    align-self: flex-end;
    margin-bottom: 10px;
}

#right-section{
    justify-self: right;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#left-section {
    width: 80%;
    display: flex;
    justify-content: space-around;
    justify-self: left;

}

